<div class="d-flex justify-content-between gap-3 w-100 h-90 p-3 flex-wrap">
    <% backgrounds.forEach(background => { %>
        <button
            type="button"
            class="btn btn-outline-primary w-20 p-4"
            data-bs-toggle="collapse"
            data-bs-target="#<%= background.id %>_submit"
            aria-expanded="false"
            aria-controls="<%= background.id %>_submit"
        >
            <h3 class="mb-4"><%= background.title %></h3>
            <% background.proficiencies.forEach(proficiency => { %>
                <p><%= proficiency %></p>
            <% }) %>
        </button>
    <% }) %>
</div>

<div id="confirm_buttons" class="w-100 position-relative">
    <% backgrounds.forEach((background) => { %>
        <div class="collapse position-absolute w-100 transition-none" id="<%= background.id %>_submit" data-bs-parent="#confirm_buttons">
            <form class="w-100 d-flex justify-content-center" action="/alignment" method="get">
                <input type="hidden" name="race" value="<%= race %>">
                <input type="hidden" name="subrace" value="<%= subrace %>">
                <input type="hidden" name="clas" value="<%= clas %>">
                <input type="hidden" name="background" value="<%= background.id %>">
                <button type="submit" class="btn btn-primary btn-lg w-auto px-5">Choose <%= background.title %></button>
            </form>
        </div>
    <% }); %>
</div>