<div class="d-flex justify-content-between gap-3 w-100 h-90 overflow-y-auto p-3 flex-wrap">
    <% alignments.forEach(alignment => { %>
        <button
            type="button"
            class="btn btn-outline-primary col-lg-3 col-12 p-4"
            data-bs-toggle="collapse"
            data-bs-target="#<%= alignment.id %>_submit"
            aria-expanded="false"
            aria-controls="<%= alignment.id %>_submit"
        >
            <h3 class="mb-4"><%= alignment.title %></h3>
            <div class="w-100 h-8em overflow-hidden">
                <img height="100%" src="/static/image/alignment/<%= alignment.id %>.jpg" alt="<%= alignment.title %> picture">
            </div>
        </button>
    <% }) %>
</div>

<div id="confirm_buttons" class="w-100 h-10 position-relative">
    <% alignments.forEach((alignment) => { %>
        <div class="collapse position-absolute w-100 h-100 transition-none" id="<%= alignment.id %>_submit" data-bs-parent="#confirm_buttons">
            <form class="w-100 h-100 d-flex justify-content-center align-items-center" action="/character" method="get">
                <input type="hidden" name="race" value="<%= race %>">
                <input type="hidden" name="subrace" value="<%= subrace %>">
                <input type="hidden" name="clas" value="<%= clas %>">
                <input type="hidden" name="background" value="<%= background %>">
                <input type="hidden" name="alignment" value="<%= alignment.id %>">
                <button type="submit" class="btn btn-primary btn-lg w-auto px-5">Choose <%= alignment.title %></button>
            </form>
        </div>
    <% }); %>
</div>