* {
    box-sizing: border-box;
}

body, html {
    overflow-y: hidden;
    overflow-x: auto;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.w-10 {
    width: 10% !important;
}

.h-40 {
    height: 40% !important;
}

.h-44 {
    height: 44% !important;
}

.h-56 {
    height: 56% !important;
}

.h-64 {
    height: 64% !important;
}

.h-68 {
    height: 68% !important;
}

.h-71 {
    height: 71% !important;
}

.h-80 {
    height: 80% !important;
}

.h-5em {
    height: 5em !important;
}

.dvh-100 {
    height: 100dvh !important;
}

.w-max-content {
    width: max-content !important;
}

.min-w-1000px {
    min-width: 1000px;
}